@model InventoyManagement.Models.ModelPartsModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ModelPartsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ModelPartsID" />
            <div class="form-group">
                <label asp-for="ModelPartsDesc" class="control-label"></label>
                <input asp-for="ModelPartsDesc" class="form-control" />
                <span asp-validation-for="ModelPartsDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelPartsYear" class="control-label"></label>
                <input asp-for="ModelPartsYear" class="form-control" />
                <span asp-validation-for="ModelPartsYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelPartsCC" class="control-label"></label>
                <input asp-for="ModelPartsCC" class="form-control" />
                <span asp-validation-for="ModelPartsCC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateUpdated" class="control-label"></label>
                <input asp-for="DateUpdated" class="form-control" />
                <span asp-validation-for="DateUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
